.position {
  position: relative;
  right: 25px;
  margin-right: -16px;
}
.cubo {
  opacity: 0.8;
  margin-top: 5rem;
  color: rgb(0, 0, 0);
  width: 80%;
  background-image: url(/img/pic02.jpg);
}
.card-body {
  color: rgb(0, 0, 0);
  background-image: url(/img/pic02.jpg);
}
.icononice {
  height: 2rem;
  width: 2rem;
}

body {
  background-image: url(http://source.unsplash.com/1600x900/?city);
}

@media only screen and (min-width: 992px) {
  .cubo {
    width: 50%;
  }
}
